
.services-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.service-header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: cursive;
}

.service-cards {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  gap: 30px;
  padding-bottom: 4%;
}


.service-card {
  position: relative;
  display: flex;
  width: 80%;
  height: 37vh;
  align-items: center;
  align-content: space-around;
  justify-content: space-evenly;
  border-radius: 8px;
  overflow: hidden;
}

.service-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  z-index: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.299), transparent); 
  opacity: 0;
  transition: opacity 0.3s ease;
}

.service-card:hover::before {
  opacity: 1;
}

.service-card img {
  width: 20%; 
  height: auto;
  z-index: 1;
  transition: transform 0.3s ease;
}

.service-card:hover img {
  transform: scale(1.1); 
}

.service-details {
  z-index: 1;
  width: 60%;
}

.service-details h3 {
  width: 90%;
  font-size: 1.5rem;
}

.service-details p {
  width: 80%;
  font-size: 1rem;
  color: #666;
}
.service-card:nth-child(odd) {
  background-color: #ffffff; 
}

.service-card:nth-child(even) {
  background-color: #f5f5f5;
}
.service-link {
  width: 30%;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-link img {
  width: 40%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-link:hover img {
  transform: scale(1.1);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.testimonials {
  background: linear-gradient(135deg, #00000026, rgba(170, 168, 168, 0.762)); 
  justify-content: center;
  padding: 20px 0; 
  border: 2px solid #ffffff; 
  border-radius: 10px; 
  margin-top: 50px;
}

.testimonials h2 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
  font-family: cursive;
}

.testimonials-container {
  display: flex;
  justify-content: center;
}

.testimonial-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  gap: 20px;
}

.testimonial-card {
  width: 250px; 
  padding: 15px; 
  border-radius: 10px;
  background-color: #f4f4f4;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: 3px solid #ff6b6b1a;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.testimonial-card img {
  width: 80px; 
  height: 80px; 
  border-radius: 50%;
  margin-bottom: 10px; 
}

.testimonial-card h3 {
  font-size: 1.2rem;  
  margin-bottom: 8px; 
  color: #333;
  text-align: center;
}

.testimonial-card p {
  font-size: 0.9rem; 
  color: #666;
  text-align: center;
}
.testimonial-card .social-links {
  display: flex;
  justify-content: center; 
  margin-top: 10px; 
}

.testimonial-card .social-links a {
  display: inline-block;
  margin-right: 10px;
}

.testimonial-card .social-links img {
  width: 30px; 
  height: 30px;
}
